* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.heading {
  text-align: center;
  text-transform: capitalize;
}

#outer {
  font-size: 25px;
  background: yellow;
  width: 65px;
  height: 65px;
}
#inner {
  font-size: 10px;
  background-color: mediumseagreen;
  width: 40px;
  height: 40px;
}
